.SearchList {
  position: relative;
  width: 100%;
  background-color: rgb(42, 42, 42);
  min-height: 80vh;
  padding: 20px;
  color: white;
}

.Welcome {
  position: absolute;
  top: 30vh;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: rgb(115, 255, 0);
  line-height: 40px;
}

.Item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 150px;
  padding: 5px 10px;
}

.Poster {
  width: 20%;
}

.Text {
  padding-left: 20px;
  box-sizing: border-box;
  width: 80%;
}

.Title {
  color: rgb(236, 230, 230);
  font-size: 17px;
  font-weight: 500;
}

.Download {
  padding: 15px 0 10px 0;
}

.Link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 20px;
}

@media (max-width: 500px) {
  .Poster {
    width: 20%;
  }
  .Title {
    font-size: 15px;
  }
}
