.Navbar {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  box-sizing: border-box;
}

.Logo {
  display: inline-block;
  background-color: gold;
  font-weight: 900;
  font-size: 20px;
  color: black;
  padding: 5px 8px;
  border: 1px solid;
  border-radius: 6px;
}

.Logo:hover {
  color: black;
}

.Logo:focus {
  border: 2px dotted white;
}
