.App {
  background-color: black;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: rgb(42, 42, 42);
}

.Welcome {
  position: absolute;
  top: 50vh;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: rgb(115, 255, 0);
}
